//- index.jadeで使用するリンク(liタグつき)
mixin index(title, url)
	li
		a(href=url+".html")= title

//- index.jadeで使用するリンク(工事中)
mixin indexing(title, url)
	li
		a(href=url+".html").making= title

//- index.jadeで使用するリンク(未作成)
mixin deadlink(title, url)
	li
		a(href=url+".html").deadlink= title

//- 記事内で使用するリンク
mixin pagelink(title, url)
	span 「
	a(href=url+".html")= title
	span 」


//- 参考リンク(同一タブ内で遷移)
mixin infolink(title, url)
	div.info
		| 参考:
		a(href=url+".html")= title

//- 外部リンクへ(新規タブが立ち上がる)
mixin exlink(title, url)
	div.exlink
		| 参考：
		a(href=url target="_blank")= title

//- 書籍タイトルとリンク
mixin booklink(title, url, stars)
	- if(typeof stars === 'number') stars = '★★★★★★★★★★'.substr(0,stars);
	span.exlink
		a(href=url target="_blank")= title
		span.stars= stars
